.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgb(38, 156, 253, 0.3);
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #090438;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #090438;
  transition: all 0.2s;
}
